@import url(../fontello/css/fontello.css);
.reveal section img.plain {
  background: none; }

.reveal section .social {
  display: block;
  position: relative;
  font-size: 0.65em;
  margin: 0.5em 0; }
  .reveal section .social i {
    margin-right: 0.1em; }
  .reveal section .social b {
    color: #f3d7ac;
    font-weight: normal; }
